In [1]:
# Code to extract quandl api to csv
import quandl
import json
# Initial imports
import numpy as np
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from fredapi import Fred

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set Fred API Key via 
fred_api = os.getenv('fred_api_key')
fred = Fred(api_key=fred_api)

In [4]:
job_market = quandl.get("FRED/NROUST", collapse="quarterly")
job_market_df = pd.DataFrame(job_market,index=job_market.index)
job_market_df.index = pd.to_datetime(job_market_df.index)
#job_market_df.index=job_market_df.index.date

job_market_df.head()

               Value
Date
1949-03-31  5.255053
1949-06-30  5.261516
1949-09-30  5.268013
1949-12-31  5.274564
1950-03-31  5.281182

In [5]:
gdp = quandl.get("FRED/GDPSOPQ027S", collapse="quarterly")
gdp_df = pd.DataFrame(gdp,index=gdp.index)
gdp_df.index = pd.to_datetime(gdp_df.index)
#gdp_df.index=gdp_df.index.date
gdp_df.tail()

                 Value
Date
2020-03-31  21561140.0
2020-06-30  19520115.0
2020-09-30  21170253.0
2020-12-31  21494732.0
2021-03-31  22061024.0

In [6]:
inflation = quandl.get("RATEINF/INFLATION_USA", collapse="quarterly")
inflation_df = pd.DataFrame(inflation,index=inflation.index)
inflation_df.index = pd.to_datetime(inflation_df.index)
# inflation_df.index=inflation_df.index.date
#inflation_df = inflation_df.resample('Q').mean()
# inflation_df.tail()
inflation_df

            Value
Date
1914-03-31  1.020
1914-06-30  1.020
1914-09-30  2.000
1914-12-31  1.000
1915-03-31  0.000
...           ...
2020-06-30  0.646
2020-09-30  1.371
2020-12-31  1.362
2021-03-31  2.620
2021-06-30  5.391

[430 rows x 1 columns]

In [7]:
irate_data = quandl.get("FED/SVENPY", collapse="quarterly")
irate_data

,SVENPY01,SVENPY02,SVENPY03,SVENPY04,SVENPY05,SVENPY06,SVENPY07,SVENPY08,SVENPY09,SVENPY10,...,SVENPY21,SVENPY22,SVENPY23,SVENPY24,SVENPY25,SVENPY26,SVENPY27,SVENPY28,SVENPY29,SVENPY30
Date,,,,,,,,,,,,,,,,,,,,,
1961-06-30,2.9208,3.2989,3.5208,3.6470,3.7248,3.7769,3.8141,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961-09-30,2.9553,3.3445,3.5590,3.6821,3.7588,3.8103,3.8472,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961-12-31,3.1608,3.4445,3.6468,3.7839,3.8692,3.9137,3.9263,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-03-31,2.9130,3.1795,3.3687,3.5057,3.6068,3.6830,3.7417,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-06-30,3.0789,3.3263,3.5294,3.6699,3.7656,3.8325,3.8811,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-30,0.1347,0.1308,0.1665,0.2254,0.2968,0.3742,0.4534,0.5319,0.6084,0.6819,...,1.2754,1.3128,1.3481,1.3813,1.4126,1.4422,1.4701,1.4964,1.5212,1.5446
2020-12-31,0.1173,0.1157,0.1779,0.2753,0.3889,0.5068,0.6219,0.7300,0.8294,0.9192,...,1.4699,1.4989,1.5266,1.5531,1.5787,1.6034,1.6275,1.6511,1.6741,1.6968
2021-03-31,0.0748,0.1683,0.3960,0.6663,0.9319,1.1712,1.3769,1.5487,1.6899,1.8050,...,2.2964,2.3171,2.3370,2.3565,2.3757,2.3948,2.4138,2.4328,2.4518,2.4708
2021-06-30,0.1013,0.2557,0.4686,0.6839,0.8793,1.0485,1.1921,1.3134,1.4159,1.5032,...,1.9848,2.0076,2.0286,2.0481,2.0661,2.0828,2.0984,2.1129,2.1264,2.1391
2021-09-30,0.0976,0.2290,0.4196,0.6177,0.8013,0.9632,1.1026,1.2218,1.3237,1.4113,...,1.9031,1.9266,1.9483,1.9683,1.9868,2.0040,2.0200,2.0349,2.0488,2.0618

In [8]:
# This to be examined individually
drate_data = {}
drate_data['Delinquency Rates'] = fred.get_series('DRSFRMACBS')
drate_data = pd.DataFrame(drate_data)
drate_data.index = pd.to_datetime(drate_data.index)
drate_data = drate_data.resample('Q').mean()
drate_data = drate_data.dropna()
drate_data

            Delinquency Rates
1991-03-31               3.10
1991-06-30               3.17
1991-09-30               3.23
1991-12-31               3.29
1992-03-31               3.13
...                       ...
2020-03-31               2.39
2020-06-30               2.52
2020-09-30               2.80
2020-12-31               2.74
2021-03-31               2.75

[121 rows x 1 columns]

In [9]:
price_data = quandl.get("FMAC/HPI_USA", collapse="quarterly")
price_data

             NSA Value    SA Value
Date
1975-03-31   24.057327   24.005779
1975-06-30   24.584534   24.369265
1975-09-30   24.816060   24.604383
1975-12-31   25.190299   25.128777
1976-03-31   25.708233   25.653147
...                ...         ...
2020-06-30  204.501871  201.666536
2020-09-30  212.230737  210.328682
2020-12-31  217.554813  218.148783
2021-03-31  227.697505  227.237775
2021-06-30  237.388620  234.461153

[186 rows x 2 columns]

In [10]:
df = {}
df['Homeownership Rate in the United States'] = fred.get_series('RHORUSQ156N')
# data index not accurate - produces NaN
df['Monthly Supply of Houses in the United States'] = fred.get_series('MSACSR')
df['US Population data'] = fred.get_series('POPTHM')
# data index not accurate - produces NaN 
df['Median Sales Price of Houses Sold'] = fred.get_series('MSPUS')
df = pd.DataFrame(df)

In [11]:
df = pd.DataFrame(df,index=df.index)
df.index = pd.to_datetime(df.index)
# .asfreq() instead of .mean()
df = df.resample('Q').mean()
df = df.dropna()
df

,Homeownership Rate in the United States,Monthly Supply of Houses in the United States,US Population data,Median Sales Price of Houses Sold
1965-03-31,62.9,5.500000,193466.666667,20200.0
1965-06-30,62.9,5.200000,193994.000000,19800.0
1965-09-30,62.9,4.900000,194646.666667,20200.0
1965-12-31,63.4,4.666667,195278.666667,20300.0
1966-03-31,63.5,4.866667,195763.000000,21000.0
...,...,...,...,...
2020-03-31,65.3,5.566667,329529.333333,329000.0
2020-06-30,67.9,5.400000,329897.333333,322600.0
2020-09-30,67.4,3.533333,330367.333333,337500.0
2020-12-31,65.8,3.766667,330815.000000,358700.0
2021-03-31,65.6,4.100000,331011.000000,347500.0

In [12]:
bot_features = pd.concat([job_market_df,gdp_df,inflation_df,irate_data, price_data,df], axis='columns', join='outer')
bot_features = pd.DataFrame(bot_features,index=bot_features.index)
bot_features.index = pd.to_datetime(bot_features.index)
bot_features = bot_features.resample('Q').mean()
bot_features = bot_features.dropna()
bot_features

,Value,Value,Value,SVENPY01,SVENPY02,SVENPY03,SVENPY04,SVENPY05,SVENPY06,SVENPY07,...,SVENPY27,SVENPY28,SVENPY29,SVENPY30,NSA Value,SA Value,Homeownership Rate in the United States,Monthly Supply of Houses in the United States,US Population data,Median Sales Price of Houses Sold
1985-12-31,6.008578,4444095.0,3.799,7.7499,8.0789,8.3308,8.5289,8.6891,8.8220,8.9347,...,9.7342,9.7440,9.7528,9.7606,53.223879,53.093891,63.5,6.033333,239386.666667,86800.0
1986-03-31,5.997622,4507892.0,2.256,6.9448,7.1252,7.2507,7.3409,7.4081,7.4602,7.5020,...,7.7756,7.7794,7.7828,7.7859,54.044299,53.928497,63.6,5.466667,239860.666667,88000.0
1986-06-30,5.986110,4545342.0,1.766,6.6607,7.0476,7.2911,7.4484,7.5541,7.6290,7.6854,...,8.0475,8.0527,8.0573,8.0616,55.507085,55.021051,63.8,5.200000,240367.666667,92100.0
1986-09-30,5.973968,4607669.0,1.754,5.9999,6.5047,6.8596,7.1199,7.3188,7.4763,7.6048,...,8.3618,8.3699,8.3772,8.3838,56.288439,55.808308,63.8,6.300000,240961.666667,93000.0
1986-12-31,5.961125,4657625.0,1.098,6.2075,6.4534,6.6500,6.8216,6.9763,7.1163,7.2419,...,8.0567,8.0653,8.0730,8.0799,57.122865,56.983354,63.9,6.033333,241539.000000,95000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-31,4.512876,21561140.0,1.539,0.2564,0.2770,0.3231,0.3831,0.4496,0.5184,0.5869,...,1.4245,1.4458,1.4659,1.4849,200.062568,199.607704,65.3,5.566667,329529.333333,329000.0
2020-06-30,4.501435,19520115.0,0.646,0.1776,0.1593,0.1916,0.2494,0.3188,0.3923,0.4662,...,1.4550,1.4833,1.5101,1.5355,204.501871,201.666536,67.9,5.400000,329897.333333,322600.0
2020-09-30,4.490658,21170253.0,1.371,0.1347,0.1308,0.1665,0.2254,0.2968,0.3742,0.4534,...,1.4701,1.4964,1.5212,1.5446,212.230737,210.328682,67.4,3.533333,330367.333333,337500.0
2020-12-31,4.480756,21494732.0,1.362,0.1173,0.1157,0.1779,0.2753,0.3889,0.5068,0.6219,...,1.6275,1.6511,1.6741,1.6968,217.554813,218.148783,65.8,3.766667,330815.000000,358700.0
2021-03-31,4.471833,22061024.0,2.620,0.0748,0.1683,0.3960,0.6663,0.9319,1.1712,1.3769,...,2.4138,2.4328,2.4518,2.4708,227.697505,227.237775,65.6,4.100000,331011.000000,347500.0

In [13]:
bot_features.to_csv('bot_features.csv')